[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
datetime = "*"
dotenv = "*"
uvicorn = "*"
pyyaml = "*"
pydantic = "*"
fastapi = "*"
pymysql = "*"
email-validator = "*"
passlib = "*"
bcrypt = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
